In [1]:
import pandas as pd

In [2]:
ldap_data=pd.read_csv(r'D:\clean R4\LDAP\ldap_aggregated.csv')

In [3]:
ldap_data.head()  # Display the first few rows of the DataFrame

,user_id,employee_name,email,role,business_unit,team,supervisor,dept_size,func_size,department_1 - IndustrialEngineering,...,department_4 - Safety,department_5 - Medical,department_6 - Security,department_nan,functional_unit_2 - ResearchAndEngineering,functional_unit_3 - Manufacturing,functional_unit_4 - Finance,functional_unit_5 - SalesAndMarketing,functional_unit_6 - PurchasingAndContracts,functional_unit_nan
0,CEL0561,Calvin Edan Love,Calvin.Edan.Love@dtaa.com,ComputerProgrammer,1,3 - Software,56,1,1,0,...,0,0,0,0,1,0,0,0,0,0
1,CRD0624,Christine Reagan Deleon,Christine.Reagan.Deleon@dtaa.com,Salesman,1,3 - RegionalSales,66,1,1,0,...,0,0,0,0,0,0,0,1,0,0
2,JFC0557,Jade Felicia Caldwell,Jade.Felicia.Caldwell@dtaa.com,SoftwareEngineer,1,3 - Software,56,1,1,0,...,0,0,0,0,1,0,0,0,0,0
3,ASD0577,Aquila Stewart Dejesus,Aquila.Stewart.Dejesus@dtaa.com,ProductionLineWorker,1,3 - AssemblyDept,64,1,1,0,...,0,0,0,0,0,1,0,0,0,0
4,MAR0955,Micah Abdul Rojas,Micah.Abdul.Rojas@dtaa.com,ProductionLineWorker,1,6 - AssemblyDept,50,1,1,0,...,0,0,0,0,0,1,0,0,0,0

In [4]:
ldap_data['role'].value_counts(20)  # Count occurrences of each role

role
ProductionLineWorker        0.181867
Technician                  0.154871
Salesman                    0.147763
SoftwareEngineer            0.042704
Scientist                   0.041092
AdministrativeAssistant     0.036732
ITAdmin                     0.034462
ComputerScientist           0.031237
Mathematician               0.030460
ElectricalEngineer          0.028609
MechanicalEngineer          0.026877
Manager                     0.025802
ComputerProgrammer          0.023413
Physicist                   0.021442
SystemsEngineer             0.019829
TestEngineer                0.019232
SecurityGuard               0.015828
HumanResourceSpecialist     0.013677
Director                    0.012901
MaterialsEngineer           0.007884
ChiefEngineer               0.007526
HardwareEngineer            0.007406
IndustrialEngineer          0.006988
LabManager                  0.006450
AssemblySupervisor          0.006450
VicePresident               0.006450
FieldServiceEngineer        0.005375
PurchasingClerk             0.005136
Statistician                0.004957
NursePractitioner           0.003225
Accountant                  0.003225
Attorney                    0.003225
HealthSafetyEngineer        0.003225
Engineer                    0.002747
ManagementTrainer           0.002150
ComputerTrainer             0.002150
InstructionalCoordinator    0.001672
FinancialAnalyst            0.001075
TechnicalTrainer            0.001075
President                   0.001075
Nurse                       0.001075
AdministrativeStaff         0.000657
Name: proportion, dtype: float64